---
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
import { SignIn, SignOut } from "auth-astro/components";

console.info("session", session);

// `Astro.request.headers` was used when rendering the route `src/pages/login.astro'`. `Astro.request.headers` is not available on prerendered pages. If you need access to request headers, make sure that the page is server-rendered using `export const prerender = false;` or by setting `output` to `"server"` in your Astro config to make all your pages server-rendered by default.
// SOLUTION -->
export const prerender = false;

// https://github.com/keycloak/keycloak/discussions/25684#discussioncomment-7909718
---

<>
    <h1>Keycloak Astro Example</h1>
    <SignIn provider="keycloak">Sign In</SignIn>
    <SignOut>Sing Out</SignOut>
    {session && <pre>{JSON.stringify(session)}</pre>}
</>
